@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
/*in meta tag display none hidden-on-xs*/

.bg-white {
    background: white;
}

nav {
    border:none;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 80px;*/
}

.horizontal-list {
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

nav .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 66px;
}

nav .logo {
    position: absolute;
    top: -30%;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border:none;
    padding: 0;
}

nav .title {
    font-size: xxx-large;
    margin: 12px 0;
}

nav p {
    font-size: large;
}

body {
    background-color: #F0F0F0;
}

img {
    border-radius: 10px;
    border: 10px solid #E6E6E6;
    width: 100%;
    white-space: nowrap;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.abel-font {
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.anton-font {
    text-align: center;
    color: black;
    font-family: 'Anton', sans-serif;
}

label {
    text-align: center;
    color: deeppink;
    margin-left: 10px;
}

h1 {
font-size: 64px;
    text-align: center;
    color: black;
    font-family: 'Anton', sans-serif;
    margin: 100px 0 0 0 ;
}
h2 {
    font-size: 48px;
    color: black;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.twit{
    position: fixed;

}

.tweet-text {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}
h5 {
    font-size: 28px;
    color: black;
    font-family: 'Abel', sans-serif;
}

.red-circle {
    width: 105px;
    height: 105px;
    line-height: 88px;
    border-radius: 500px;
    border: 8px solid #FFFF;
    font-size: 20px;
    background-color: #E6563B;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;


}
.orange-circle {
    width: 105px;
    height: 105px;
    line-height: 88px;
    border-radius: 50%;
    border: 8px solid #FFFF;
    font-size: 20px;
    background-color:#EB9D3A;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;

}

.green-circle {
    width: 105px;
    height: 105px;
    line-height: 88px;
    border-radius: 50%;
    border: 8px solid #FFFF;
    font-size: 20px;
    background-color: #7CB06C;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;

}
ul {
    list-style: none;
}
.aqua-circle {
    width: 105px;
    height: 105px;
    line-height: 88px;
    border-radius: 50%;
    border: 8px solid #FFFF;
    font-size: 20px;
    background-color: #00ABA9;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;

}
.small-red-circle {
    width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 500px;
    font-size: 10px;
    background-color: #E6563B;
    text-align: center;
    color: black;
    margin-right: 5px;
    font-family: 'Anton', sans-serif;
}

.small-orange-circle {
    width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 50%;
    font-size: 10px;
    background-color:#EB9D3A;
    text-align: center;
    color: black;
    margin-right: 5px;
    font-family: 'Anton', sans-serif;
}

.small-green-circle {
    width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 50%;
    font-size: 10px;
    background-color: #7CB06C;
    text-align: center;
    color: black;
    margin-right: 5px;
    font-family: 'Anton', sans-serif;
}

.small-aqua-circle {
    width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 50%;
    font-size: 10px;
    background-color: #00ABA9;
    text-align: center;
    color: black;
    margin-right: 5px;
    font-family: 'Anton', sans-serif;
}

.container{
    justify-content: right;
}


/*/our meta tag/*/
@media screen and (max-width: 500px) {
    html,
    body {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .hidden-on-xs {
        display: none;
    }
    .medium-header,
    .small-header {
        display: none;
    }
    .xs-header {
        display: flex;
    }
    .selected-work {
        font-size: 20px;
        margin-top: 200px;
    }
}
@media screen and (max-width: 767px) {
    .last-column {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .xs-header,
    .medium-header {
        display: none;
    }
    .small-header {
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    .small-header,
    .xs-header {
        display: none;
    }
    .medium-header {
        display: flex;
    }
}